@import './main.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 60px;

    .cardContent {
        display: flex;
        justify-content: space-between;
    }

    .cardWrapper {
        max-width: 23vw;
        max-height: 284px;
        @include size(100%, 100%);
        box-shadow: none;
        overflow: inherit;
        margin: 35px 10px;

        .carousel {
            border-radius: 13px;
        }

        &:hover {
            &>div>.carousel>button {
                display: block;
            }

            cursor: pointer;
        }

        &>div>.carousel>ul>li>button {
            margin: 0 0 10px 10px;
            border: 1px solid rgb(66, 66, 66);
            @include size(10px, 10px);
        }

        &>div>.carousel>button {
            background: none !important;

            &::before {
                font-size: 10px;
                color: $blackColor;
                background-color: $whiteColor;
                padding: 8px;
                font-weight: bold;
                border-radius: $round;
                border: 1px solid rgb(199, 199, 199);
            }
        }

        &>div>.carousel>button {
            display: none;
        }
    }

    @media (max-width:1000px) {
        .cardWrapper {
            max-width: 30vw;
            height: 100%;
        }
    }

    @media (max-width:747px) {
        .cardWrapper {
            max-width: 45vw;
            height: 100%;
        }
    }

    @media (max-width:434px) {
        .cardWrapper {
            max-width: 90vw;
            height: 100%;
        }
    }

}

.skeleton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 95px auto;
    gap: 20px;

    .skeletonItems>span {
        margin-bottom: 10px;
    }

    .skeletonItems>span:first-child {
        height: 200px;
    }

    .skeletonItems>span:nth-child(2) {
        width: 80%;
    }
    .skeletonItems>span:nth-child(3) {
        width: 60%;
    }
    .skeletonItems>span:nth-child(4) {
        width: 40%;
    }

    .skeletonItems {
        max-width: 23vw;
        max-height: 284px;
        @include size(100%, 100%);
    }

    @media (max-width:1000px) {
        .skeletonItems {
            max-width: 30vw;
            height: 100%;
        }
    }

    @media (max-width:747px) {
        .skeletonItems {
            max-width: 45vw;
            height: 100%;
        }
    }

    @media (max-width:434px) {
        .skeletonItems {
            max-width: 90vw;
            height: 100%;
        }
    }
}
