.page-404 {
    padding: 40px 0;
    background: #fff;
    width: 94%;
    margin: 80px auto 0;
}

.page-404 img {
    width: 100%;
}

.four-zero-four-bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four-zero-four-bg h1 {
    font-size: 80px;
    position: relative;
    top:0;
    left: 18vw;
    display: inline-block;
}

.four-zero-four-bg h3 {
    font-size: 80px;
}

.contant-box-404 {
    margin-top: -50px;
    text-align: center;
}
