@import './main.scss';

.container{
    margin: 100px auto;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    .wrapper{
        border: 1px solid rgb(175, 175, 175);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        &>img{
            @include size(150px,100px);
            margin: 5px;
        }
        &>h4{
            font-size: 0.8em;
            margin: 8px 5px;
        }
    }
}
